<!-- Times and Day's Schedule -->

<ul>

<!-- Assembly Times -->

<li id="fo1li95" class="section     ">
	<h3 id="title95">Assembly Start Times</h3>
	<div id="instruct95">If your school is small and all students can fit into one room, then Mr. Mike will 
		do 1 assembly. <br />
		Larger schools should schedule 2 assemblies.<br />
		3 assemblies are only for very large schools and will only be considered based on very high 
		enrollment.
	</div>
</li>

<%= f.group_start( [:assembly_time1], { :position => "full" } ) %>
	<%= f.label :assembly_time1, 'Assembly #1', :class => "desc" %>
	<% #f.time_select :assembly_time1, :minute_step => 15, :include_blank => true %>
	<%= select_time @request.assembly_time1, { :prefix => "assembly_time1", :minute_step => 5, :time_separator => " : ", :include_blank => true } %>
	<p class="instruct" id="instruct70"><small>Mr. Mike needs 1 hour per assembly AND at least a 15 minute break 
		in between if there are 2 or more assemblies. <br />
		<br />
		9:30 a.m. or later is the earliest start time for single school visits. If your school is part of a
		multi-school tour, then assemblies CAN sometimes start as earlier.<br />
		<br />
		<b>Examples</b><br />
		This works: 10:00 a.m. and 11:15 a.m. because it allows 1 hour per assembly (10:00 to 11:00 and 
		11:15 to 12:15) AND a 15 minute break (11:00 - 11:15) <br />
		<br />
		This doesn't work: 9:00, 9:45, 10:45 because there isn't an hour for each assembly and no breaks are
		scheduled and 9:30 a.m. is earliest start time.</small></p>
	<%= f.error_message_on :assembly_time1, :prepend_text => 'This time ' %>	
<%= f.group_end() %>


<%= f.group_start( [:assembly_time2], { :position => "full" } ) %>
	<label class="desc" id="title72" for="Field72">
	<%= f.label :assembly_time2, 'Assembly #2', :class => "desc" %>
	<% # f.time_select :assembly_time2, :minute_step => 15, :include_blank => true %>
	<%= select_time @request.assembly_time2, { :prefix => "assembly_time2", :minute_step => 5, :time_separator => " : ", :include_blank => true } %>
	<p class="instruct" id="instruct72">
		<small>Mr. Mike needs 1 hour per assembly AND at least a 15 minute break in between if there are 2 
		or more assemblies. <br />
		<br />
		9:30 a.m. or later is the earliest start time for single school visits. If you school is part of 
		a multi-school tour, then assemblies CAN start earlier, if you need them to!<br />
		<br />
		<b>Examples</b><br />
		This works: 10:00 a.m. and 11:15 a.m. because it allows 1 hour per assembly (10:00 to 11:00 and 11:15 
		to 12:15) AND a 15 minute break (11:00 - 11:15) <br />
		<br />
		This doesn't work: 9:00, 9:45, 10:45 because there isn't an hour for each assembly and no breaks 
		are scheduled and 9:30 a.m. is earliest start time.</small></p>
	<%= f.error_message_on :assembly_time2, :prepend_text => 'This time ' %>		
<%= f.group_end() %>



<%= f.group_start( [:assembly_time3], { :position => "full" } ) %>
	<%= f.label :assembly_time3, 'Assembly #3 <small>(Only for very large schools)</small>', :class => "desc" %>
	<% #f.time_select :assembly_time3, :minute_step => 15, :include_blank => true  %>
	<%= select_time @request.assembly_time3, { :prefix => "assembly_time3", :minute_step => 5, :time_separator => " : ", :include_blank => true } %>
	<p class="instruct" id="instruct71"><small>Assembly #3 option is available only for very large schools 
		that can't fit all students into 2 assemblies OR for schools that have a very small assembly area. 
		Sorry, Mr. Mike is not available for more than 3 assemblies.</small></p>
	<%= f.error_message_on :assembly_time3, :prepend_text => 'This time ' %>			
<%= f.group_end() %>


<%= f.group_start( [:assembly_location], { :position => "full" } ) %>
	<%= f.label :assembly_location, 'The indoors only assembly(ies) will be in the', :class => "desc" %>
	<%= f.radio_button :assembly_location, "Auditorium" %>
		<label class="choice">Auditorium</label>
	<%= f.radio_button :assembly_location, "Multi-Purpose Room" %>
		<label class="choice">Multi-Purpose Room</label>
	<%= f.radio_button :assembly_location, "Other", 
		:onmouseup => "document.getElementById('request_assembly_location').focus();" %>
		<label class="choice">Other</label>
	<%= f.text_field :assembly_location, :class => "field text", 
		:onclick => "document.getElementById('request_assembly_location_other').checked = 'checked';" %>
		<p class="instruct" id="instruct80"><small>The last 20 minutes or so of the assembly hour is a book 
			signing, so most students won't be seated at that time;   If the custodian needs to set up the 
			room for something - it shouldn't be a problem - we'll all be right up front at the table. </small></p>
	<%= f.error_message_on :assembly_location, :prepend_text => 'This question ' %>			
<%= f.group_end() %>

<li>&nbsp;</li>

<!-- Inclement Weather Plan -->

<li id="fo1li97" class="section     ">
	<h3 id="title97">Inclement Weather Plan - RAIN or FOG - The Show Must Go On!</h3>
	<div id="instruct97">This is an important consideration since Mr. Mike will probably be in your area 
		for a tour and you'll want to have a back up plan just in case the weather isn't as happy to see 
		him as you are!<br />
		You can find more information about bad weather options in the Schools section.
	</div>
</li>


<%= f.group_start( [:inclement_lunchroom], { :position => "full" } ) %>
	<%= f.label :inclement_lunchroom, 'Is the room Mr. Mike will be in also used for lunch or other 
		activities during inclement weather?', :class => "desc" %>
	<%= f.radio_button :inclement_lunchroom, true %>
		<label class="choice">Yes</label>
	<%= f.radio_button :inclement_lunchroom, false %>
		<label class="choice">No</label>
		<p class="instruct" id="instruct98"><small>Mr. Mike's 'stuff' is all set up at the front of the room.
			In most cases, lunch tables can be brought down without having to move anything.</small></p>
	<%= f.error_message_on :inclement_lunchroom, :prepend_text => 'This question ' %>						
<%= f.group_end() %>


<%= f.group_start( [:inclement_plan], { :position => "full" } ) %>
	<%= f.label :inclement_plan, "If yes, what's your plan for inclement weather?" %>
	<div><%= f.text_area :inclement_plan, :cols => 50, :rows => 10, :class => "field textarea small" %></div>
	<p class="instruct" id="instruct101"><small>Usually, we can make minor schedule adjustments and still 
		be able to have the assemblies.  In extreme situations, the book signing table will be set up in the 
		library and we 'make the best' of whatever the weather dictates... but this is rare.</small></p>
	<%= f.error_message_on :inclement_plan, :prepend_text => 'This question ' %>								
<%= f.group_end() %>

<%= f.group_start( [:school_prone_weather_delays], { :position => "full" } ) %>
	<%= f.label :school_prone_weather_delays, "Is your school prone to schedule changes due to fog or other 
		weather during the time of Mr. Mike's visit?", :class => "desc" %>
	<%= f.radio_button :school_prone_weather_delays, true %>
		<label class="choice">Yes</label>
	<%= f.radio_button :school_prone_weather_delays, false %>
		<label class="choice">No</label>
	<p class="instruct" id="instruct103"><small>If Mr. Mike will be visiting during a time of year when school 
		buses are often delayed - let us know!  <br />
		It's better to figure this out now than later.</small></p>
	<%= f.error_message_on :school_prone_weather_delays, :prepend_text => 'This question ' %>	
<%= f.group_end() %>


<%= f.group_start( [:weather_delay_plan], { :position => "full" } ) %>
	<%= f.label :weather_delay_plan, "If yes, what's your plan in the event of delays?" %>
	<div><%= f.text_area :weather_delay_plan, :cols => 50, :rows => 10, :class => "field textarea small" %></div>
	<p class="instruct" id="instruct102"><small>In these situations where there just aren't any students at 
		the school until a delayed time, we can set up the book signing table in the library and Mr. Mike 
		can visit a few classes... again, we make the best of it!</small></p>
	<%= f.error_message_on :weather_delay_plan, :prepend_text => 'This question ' %>		
<%= f.group_end() %>

<!-- Lunch with Mr. Mike -->

<li id="fo1li73" class="section     ">
	<h3 id="title73">Lunch with Mr. Mike</h3>
	<div id="instruct73">An informal lunch for students.  See the 
		<a href="/schools/lunch-with-mr-mike/" target="_blank">'Lunch with Mr. Mike'</a> page for more info.
	</div>
</li>


<%= f.group_start( [:lunch_with_mike], { :position => "full" } ) %>
	<%= f.label :lunch_with_mike, "Are you requesting 'Lunch With Mr. Mike' for a group of about 25 STUDENTS?",
		:class => "desc" %>
	<%= f.radio_button :lunch_with_mike, true , :onclick => "$('mike_lunch').show();" %>
		<label class="choice">Yes</label>
	<%= f.radio_button :lunch_with_mike, false, :onclick => "$('mike_lunch').hide();"  %>
		<label class="choice">No</label>
	<p class="instruct" id="instruct74"><small>Please Note: This event is for STUDENTS </small></p>
	<%= f.error_message_on :lunch_with_mike, :prepend_text => 'This question ' %>									
<%= f.group_end() %>

<div id="mike_lunch" style="display: none;">

<%= f.group_start( [:lunch_start], { :position => "left" } ) %>
	<%= f.label :lunch_start, 'If YES, what time will it start?', :class => "desc" %>
	<% #f.datetime_select :lunch_start, :minute_step => 15, :include_blank => true, :ignore_date => true   %>	
	<%= select_time @request.lunch_start, { :prefix => "lunch_start", :minute_step => 5, :time_separator => " : ", :include_blank => true } %>
	<p class="instruct" id="instruct78"><small>Allow a minimum 15 min.  break after the end of the
		assembly.</small></p>
	<%= f.error_message_on :lunch_start, :prepend_text => 'This question ' %>	
<%= f.group_end() %>


<%= f.group_start( [:lunch_end], { :position => "right" } ) %>
	<%= f.label :lunch_end, 'What time will it end?', :class => "desc" %>
	<% # f.time_select :lunch_end, :minute_step => 15, :include_blank => true, :ignore_date => true   %>
	<%= select_time @request.lunch_end, { :prefix => "lunch_end", :minute_step => 5, :time_separator => " : ", :include_blank => true } %>			
	<p class="instruct" id="instruct77"><small>About 45 minutes is good.</small></p>
	<%= f.error_message_on :lunch_end, :prepend_text => 'This question ' %>									
<%= f.group_end() %>


<%= f.group_start( [:lunch_room], { :position => "full" } ) %>
	<%= f.label :lunch_room, 'What room in your school will the lunch be held?', :class => "desc" %>
	<%= f.text_field :lunch_room, :class => "field text medium" %>
	<p class="instruct" id="instruct79"><small>Choose a quiet place like a library or other room away from 
		all the hustle and bustle.</small></p>
	<%= f.error_message_on :lunch_room, :prepend_text => 'This question ' %>										
<%= f.group_end() %>

</div>

</ul>