<!-- Coordinating w/ Other Schools -->

<ul>

<li id="fo1li90" class="section     ">
	<h3 id="title90">For Schools Coordinating with Other Schools</h3>
	<div id="instruct90">If your school is not in O.C., S.D., L.A., Riverside, Imperial, San Bern. counties 
		in California, then you must indicate all the schools you're coordinating with. <br />
		(Note: outlying areas of L.A., R., Imp., SanB., counties may require 2 schools - we'll let you know.) <br />
		<br />
		Here's the minimum # schools breakdown for California:<br />
		<br />
		<b>Southern Desert Areas: 2 schools<br />
			Most of Central Valley: 4 schools<br />
			Southern Coastal: 3 schools<br />
			ALL Northern: 5 schools</b><br />
		<br />
		Dates will be scheduled once we have forms from ALL the schools you're coordinating with. 
		It is not unusual for the minimum # of schools to be exceeded quickly and we end up booking an entire 
		week in an area that might only have a minimum of 2 schools required, which is fine. Once schools start 	
		coordinating, other schools often want to get on board. All schools interested should submit and this 
		Assembly Request Form, as we may be able to start working on filling a second week for your area - 
		if it gets to that point.<br />
		<br />
		Indicate DATE, NAME OF SCHOOL, CONTACT PERSON that you are coordinating with. This helps us know who 
		we should be keeping an eye out for. It does not mean that we will initiate contacting them - they need 
		will be responsible for initiating the request.  If you need to check back with us, we'll be able to 
		tell you who got their forms in and who hasn't.<br />
		<br />
		EXAMPLE:<br />
		Mon, March 4 - Lotsafun Elmentary - Ima Goodreader - Library - email@school.edu<br />
		Tue, March 5 - Lakewood Elementary - Jenny SoAndSo - PTA - email@school.edu<br />
		Wed, March 6 - Sunrise Elementary - Bill CoolGuy - Principal - email@school.edu<br />
		Thur, March 7 - Railroad Elementary - Doris ILikeBooks - Library - email@school.edu<br />
		Fri, March 8 - Surfsup Elementary - Mrs. SurferGal - Teacher  - email@school.edu<br />
	</div>
</li>

<!-- Monday -->

<li id="fo1li127" class="    ">
	<%= f.label :monday_date, "Monday Visit Date", :class => "desc" %>
	<%= f.date_select :monday_date %>
</li>


<li id="fo1li133" class="leftHalf    ">
	<%= f.label :monday_school, "Monday School Name", :class => "desc" %>
	<%= f.text_field :monday_school, :class => "field text medium" %>
</li>

<li id="fo1li131" class="rightHalf    ">
	<label class="desc">Monday School Contact's Name</label>
	<span>
		<%= f.text_field :monday_contact_first, :class => "field text", :size => 8 %>
		<%= f.label :monday_contact_first, "First" %>
	</span>
	<span>
		<%= f.text_field :monday_contact_last, :class => "field text", :size => 14 %>
		<%= f.label :monday_contact_last, "Last" %>
	</span>
</li>


<li id="fo1li151" class="leftHalf    ">
	<%= f.label :monday_contact_title, "Monday School Contact's Title", :class => "desc" %>
	<%= f.text_field :monday_contact_title, :class => "field text medium" %>
</li>


<li id="fo1li138" class="rightHalf    ">
		<%= f.label :monday_contact_email, "Monday School Contact's E-mail", :class => "desc" %>
		<%= f.text_field :monday_contact_email, :class => "field text medium" %>
</li>


<!-- Tuesday -->

<li id="fo1li127" class="    ">
	<%= f.label :tuesday_date, "Tuesday Visit Date", :class => "desc" %>
	<%= f.date_select :tuesday_date %>
</li>


<li id="fo1li133" class="leftHalf    ">
	<%= f.label :tuesday_school, "Tuesday School Name", :class => "desc" %>
	<%= f.text_field :tuesday_school, :class => "field text medium" %>
</li>

<li id="fo1li131" class="rightHalf    ">
	<label class="desc">Tuesday School Contact's Name</label>
	<span>
		<%= f.text_field :tuesday_contact_first, :class => "field text", :size => 8 %>
		<%= f.label :tuesday_contact_first, "First" %>
	</span>
	<span>
		<%= f.text_field :tuesday_contact_last, :class => "field text", :size => 14 %>
		<%= f.label :tuesday_contact_last, "Last" %>
	</span>
</li>


<li id="fo1li151" class="leftHalf    ">
	<%= f.label :tuesday_contact_title, "Tuesday School Contact's Title", :class => "desc" %>
	<%= f.text_field :tuesday_contact_title, :class => "field text medium" %>
</li>


<li id="fo1li138" class="rightHalf    ">
		<%= f.label :tuesday_contact_email, "Tuesday School Contact's E-mail", :class => "desc" %>
		<%= f.text_field :tuesday_contact_email, :class => "field text medium" %>
</li>


<!-- Wednesday -->

<li id="fo1li127" class="    ">
	<%= f.label :wednesday_date, "Wednesday Visit Date", :class => "desc" %>
	<%= f.date_select :wednesday_date %>
</li>


<li id="fo1li133" class="leftHalf    ">
	<%= f.label :wednesday_school, "Wednesday School Name", :class => "desc" %>
	<%= f.text_field :wednesday_school, :class => "field text medium" %>
</li>

<li id="fo1li131" class="rightHalf    ">
	<label class="desc">Wednesday School Contact's Name</label>
	<span>
		<%= f.text_field :wednesday_contact_first, :class => "field text", :size => 8 %>
		<%= f.label :wednesday_contact_first, "First" %>
	</span>
	<span>
		<%= f.text_field :wednesday_contact_last, :class => "field text", :size => 14 %>
		<%= f.label :wednesday_contact_last, "Last" %>
	</span>
</li>


<li id="fo1li151" class="leftHalf    ">
	<%= f.label :wednesday_contact_title, "Wednesday School Contact's Title", :class => "desc" %>
	<%= f.text_field :wednesday_contact_title, :class => "field text medium" %>
</li>


<li id="fo1li138" class="rightHalf    ">
		<%= f.label :wednesday_contact_email, "Wednesday School Contact's E-mail", :class => "desc" %>
		<%= f.text_field :wednesday_contact_email, :class => "field text medium" %>
</li>


<!-- Thursday -->

<li id="fo1li127" class="    ">
	<%= f.label :thursday_date, "Thursday Visit Date", :class => "desc" %>
	<%= f.date_select :thursday_date %>
</li>


<li id="fo1li133" class="leftHalf    ">
	<%= f.label :thursday_school, "Thursday School Name", :class => "desc" %>
	<%= f.text_field :thursday_school, :class => "field text medium" %>
</li>

<li id="fo1li131" class="rightHalf    ">
	<label class="desc">Thursday School Contact's Name</label>
	<span>
		<%= f.text_field :thursday_contact_first, :class => "field text", :size => 8 %>
		<%= f.label :thursday_contact_first, "First" %>
	</span>
	<span>
		<%= f.text_field :thursday_contact_last, :class => "field text", :size => 14 %>
		<%= f.label :thursday_contact_last, "Last" %>
	</span>
</li>


<li id="fo1li151" class="leftHalf    ">
	<%= f.label :thursday_contact_title, "Thursday School Contact's Title", :class => "desc" %>
	<%= f.text_field :thursday_contact_title, :class => "field text medium" %>
</li>


<li id="fo1li138" class="rightHalf    ">
		<%= f.label :thursday_contact_email, "Thursday School Contact's E-mail", :class => "desc" %>
		<%= f.text_field :thursday_contact_email, :class => "field text medium" %>
</li>

</ul>