<!-- Comments / Big questions -->

<ul>
		<li id="fo1li92" class="section     ">
		<h3 id="title92">Almost Done!...</h3>
		<div id="instruct92">We receive lots of requests for visits from Mr. Mike!  <br />
			We'll pay close attention to your responses to ALL of the questions below.  <br />
			Please be as detailed as possible!<br />
		</div>
	</li>

	<li id="fo1li93" class="    ">
		<%= f.label :essay_visit_reason, "Why is your school requesting a visit from Mr. Mike?" %>
		<div><%= f.text_area :essay_visit_reason, :cols => 50, :rows => 4 %></div>
	</li>

	<li id="fo1li94" class="    ">
		<%= f.label :essay_visit_reason, "What do you hope to get out of it?" %>
		<div><%= f.text_area :essay_visit_reason, :cols => 50, :rows => 4 %></div>
	</li>

	<li id="fo1li95" class="    ">
		<%= f.label :essay_visit_reason, "What is your school's approach to writing?", :class => 'field textarea small' %>
		<div><%= f.text_area :essay_visit_reason, :cols => 50, :rows => 4 %></div>
	</li>

	<li id="fo1li122" class="    ">
		<%= f.label :essay_visit_reason, "How you feel about hosting Mr. Mike?", :class => 'field textarea small' %>
		<div><%= f.text_area :essay_visit_reason, :cols => 50, :rows => 4 %></div>
	</li>

	<li id="fo1li121" class="    ">
		<%= f.label :essay_visit_reason, "What are your plans for preparation?", :class => 'field textarea small' %>
		<div><%= f.text_area :essay_visit_reason, :cols => 50, :rows => 4 %></div>
	</li>

	<li id="fo1li120" class="    ">
		<%= f.label :essay_visit_reason, "How will your PTA/O be involved?", :class => 'field textarea small' %>
		<div><%= f.text_area :essay_visit_reason, :cols => 50, :rows => 4 %></div>
	</li>

	<li id="fo1li119" class="    ">
		<%= f.label :essay_visit_reason, "Is there anything else you'd like us to know?", :class => 'field textarea small' %>
		<div><%= f.text_area :essay_visit_reason, :cols => 50, :rows => 4 %></div>
	</li>
	
</ul>