<!-- Event Information / Date -->

<ul>

<li id="fo1li60" class="section     ">
	<h3 id="title60">Event Information</h3>
	<div id="instruct60">Check your district &amp; school calendars and our blackout dates in the 
		<a href="/schools/dates-available/" target="_blank">'School Visit Dates Available'</a>
		section. MONDAYS and FRIDAYS ARE AVAILABLE for schools arranging multi-school visits!<br />
		<br />
		Please select 'Preferred Dates' and 'Additional Dates' from the 
		<a href="/schools/dates-available/" target="_blank">'School Visit Dates Available'</a> page. <br />
		Your school must be in session 2 weeks before and at least 1 week after Mr. Mike's visit.
	</div>
</li>


<li id="fo1li142" class="leftHalf    ">
	<%= f.label :winter_break_start, "When is your Winter Break? <br />School is out on:", :class => "desc" %>
	<% my_date(f, :winter_break_start) %>
	<p class="instruct" id="instruct142"><small>Mr. Mike cannot visit during the week just before you leave for Winter Break.</small></p>
</li>


<li id="fo1li141" class="rightHalf    ">
	<%= f.label :winter_break_end, "When is your Winter Break? <br />School is back in session on:", :class => "desc" %>
	<% my_date(f, :winter_break_end) %>
	<p class="instruct" id="instruct141"><small>Mr. Mike can visit at least 2 weeks after this date.</small></p>
</li>


<li id="fo1li143" class="leftHalf    ">
	<%= f.label :spring_break_start, "When is your Spring Break? <br />School is out on:", :class => "desc" %>
	<% my_date(f, :spring_break_start) %>
	<p class="instruct" id="instruct143"><small>Mr. Mike cannot visit during the week just before you leave for Spring Break.</small></p>
</li>


<li id="fo1li144" class="rightHalf    ">
	<%= f.label :spring_break_end, "When is your Spring Break? <br />School is back in session on:", :class => "desc" %>
	<% my_date(f, :spring_break_end) %>

	<p class="instruct" id="instruct144"><small>Mr. Mike can visit at least 2 weeks after this date.</small></p>
</li>

<li id="fo1li145" class="leftHalf    ">
	<%= f.label :first_school_date, "When is your first day of school?", :class => "desc" %>
	<% my_date(f, :first_school_date) %>

	<p class="instruct" id="instruct145"><small>The first week of school is no bueno?</small></p>
</li>

<li id="fo1li145" class="rightHalf    ">
	<%= f.label :last_school_date, "When is your last day of school?", :class => "desc" %>
	<% my_date(f, :last_school_date) %>

	<p class="instruct" id="instruct145"><small>The last 3 weeks of the school year are not a good time for Mr. Mike's visit.</small></p>
</li>

<!-- Preferred Dates -->

<li id="fo1li64" class="leftHalf    ">
	<%= f.label :preferred_date1, 'Preferred Date #1', :class => "desc" %>
	<% my_date(f, :preferred_date1) %>

	<p class="instruct" id="instruct64"><small>We try to work with your Preferred Dates, however your school
		has a better chance of getting a visit if you also indicate Additional Dates. 
		If you're flexible, you can list even more dates in the text box at the end of this form.</small></p>
</li>

<li id="fo1li62" class="rightHalf    ">
	<%= f.label :preferred_date2, 'Preferred Date #2', :class => "desc" %>
	<% my_date(f, :preferred_date2) %>

</li>

<li id="fo1li63" class="leftHalf    ">
	<%= f.label :preferred_date3, 'Preferred Date #3', :class => "desc" %>
	<% my_date(f, :preferred_date3) %>

</li>

<li id="fo1li109" class="rightHalf    ">
	<%= f.label :preferred_date4, 'Preferred Date #4', :class => "desc" %>
	<% my_date(f, :preferred_date4) %>

</li>

<!-- Additional Dates -->

<li id="fo1li61" class="leftHalf    ">
	<%= f.label :alternate_date1, 'Alternate Date #1', :class => "desc" %>
	<% my_date(f, :alternate_date1) %>

</li>

<li id="fo1li65" class="rightHalf    ">
	<%= f.label :alternate_date2, 'Alternate Date #2', :class => "desc" %>
	<% my_date(f, :alternate_date2) %>

</li>

<li id="fo1li66" class="leftHalf    ">
	<%= f.label :alternate_date3, 'Alternate Date #3', :class => "desc" %>
	<% my_date(f, :alternate_date3) %>

</li>

<li id="fo1li110" class="rightHalf    ">
	<%= f.label :alternate_date4, 'Alternate Date #4', :class => "desc" %>
	<% my_date(f, :alternate_date4) %>

</li>

<!-- Backup dates -->

<li id="a124" class="    ">
	<%= check_box nil, "back_dates", :onclick => "$('backup_dates').toggle();" %>
	<%= f.label "back_dates", "I want to specify additional backup dates" %>
</li>

<div id="backup_dates" style="display: none;">

<li id="fo1li111" class="leftHalf    ">
	<%= f.label :backup_date1, 'Backup Date #1', :class => "desc" %>
	<% my_date(f, :backup_date1) %>

</li>

<li id="fo1li114" class="rightHalf    ">
	<%= f.label :backup_date2, 'Backup Date #2', :class => "desc" %>
	<% my_date(f, :backup_date2) %>

</li>

<li id="fo1li113" class="leftHalf    ">
	<%= f.label :backup_date3, 'Backup Date #3', :class => "desc" %>
	<% my_date(f, :backup_date3) %>

</li>

<li id="fo1li112" class="rightHalf    ">
	<%= f.label :backup_date4, 'Backup Date #4', :class => "desc" %>
	<% my_date(f, :backup_date4) %>

</li>

</div>

<li id="fo1li116" class="    ">
	<%= f.label :date_comments, "Date Comments" %>
	<div><%= f.text_area :date_comments, :cols => 50, :rows => 10, :class => "field textarea small" %></div>
	<p class="instruct" id="instruct116"><small>Is there anything you'd like us to know about the dates 
		you've indicated, like special situations, special events, etc...?</small></p>
</li>

</ul>
