<% form_for(@request) :builder => ErrorFormBuilder do |f| %>
     <%= f.error_messages %>
	 <div class="wufoo">
     <%= render :partial => 'form', :locals => { :f => f } %>
     <p>
         <%= f.submit "Submit" %>
     </p>
 	</div>
<% end %>
