<% form_for(@request, :builder => ErrorFormBuilder) do |f| %>
	<div class="info2" align="left">
		<h2>Assembly Request Form</h2>
		<div>Please take your time with this form.  Note that there are seven separate sections to be completed:</div>
	</div>
	
     <!-- <%= f.error_messages %> -->

	<div class="wufoo">
		<%= render :partial => 'form', :locals => { :f => f } %>
	</div>
<% end %>
