<p>Thanks for your assembly request. We have received it and will get back to you shortly.<p/>
<br/>

<p>Thanks,</p>

<p><b>Beetle Bug Books</b></p>

<hr>

<p><small>You have received this message because an Assembly Request was filed out at Beetle Bugs Books, and your e-mail was used in the application.  If this is in error, please email <a href="mailto:webmaster@beetlebugbooks.com">webmaster@beetlebugbooks.com</a> letting us know of the error.</small></p>
